:root {
  --primary: #1a181b;
  --accent: #3c9cfb;
  --text: #a5a5a6;


  /* Background colors */
  --color-bg-app: var(--primary);
  --color-bg-subtle: color-mix(in srgb, var(--primary) 60%, black);
  --color-bg-surface: color-mix(in srgb, var(--primary) 80%, black);
  --color-bg-hover: color-mix(in srgb, var(--primary) 95%, white);
  --color-bg-pressed: color-mix(in srgb, var(--primary) 90%, white);
  
  /* Border colors */
  --color-border-subtle: color-mix(in srgb, var(--color-bg-subtle) 80%, black);
  --color-border-default: color-mix(in srgb, var(--color-bg-app) 80%, black);
  --color-border-hover: color-mix(in srgb, var(--color-bg-subtle) 80%, black);
  
  /* Text colors */
  --color-text-low: var(--text);
  --color-text-medium: color-mix(in srgb, var(--text) 90%, black);
  --color-text-high: color-mix(in srgb, var(--text) 80%, black);
  
  /* Accent colors */
  --color-accent-bg: var(--accent);
  --color-accent-hover: color-mix(in srgb, var(--accent) 95%, black);
  --color-accent-solid: color-mix(in srgb, var(--accent) 90%, black);
  --color-accent-text: color-mix(in srgb, var(--accent) 80%, black);
}